name: CI

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: 'centos:centos7.9.2009'
      volumes:
        - ./client
    defaults:
      run:
        working-directory: './client/'
    strategy:
      matrix:
        node-version: [16.17.1]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: './client/package-lock.json'
    - run: (ls /.dockerenv && echo Found dockerenv) || (echo No dockerenv)
    - run: npm ci
    - run: npm run lint
    - run: npm run build --if-present
    - run: npm test
